{% extends 'accounts/main.html' %}

{% block content %}

<h1>create</h1>

<div>
<form action="" method="POST">
  {% csrf_token %}
  <div class="mb-3">
    <label class="form-label">Title</label>
    {{ form.title }}
  </div>
  <div class="mb-3">
    <label  class="form-label">Date and Time</label>
    {{ form.date }}
  </div>
  <div class="mb-3">
    <label  class="form-label">Location</label>
    {{ form.location }}
  </div>
  <div class="mb-3">
    <label  class="form-label">Max Participants</label>
    {{ form.max }}
  </div>
  <div class="mb-3">
    <label class="form-label">Description</label>
    {{ form.description }}
  </div>
  <div class="mb-3">
    <label  class="form-label">Image</label>
    {{ form.banner }}
  </div>

</div>

<input type="submit" name="Submit">


{% endblock %}




