{% extends 'accounts/main.html' %}

{% block content %}

<h1>home {{a_user}}</h1>


<h1>Upcoming Events</h1>

<div>


<div class="home_table">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Date And Time</th>
        <th scope="col">Location</th>
        <th scope="col">Max Participants</th>
        <th scope="col">Description</th>
        <th scope="col">Banner</th>
        
      </tr>
    </thead>
    <tbody>
        {% for i in events %}
      <tr>
        <th scope="col">{{i.id}}</th>
        <th scope="col">{{i.title}}</th>
        <th scope="col">{{i.date}}</th>
        <th scope="col">{{i.location}}</th>
        <th scope="col">{{i.max}}</th>
        <th scope="col">{{i.description}}</th>
        <th scope="col"><img src="{{i.banner}}" width="200" height="100"></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div>
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{joinedEventCount}}</h5>
              <p class="card-text">Joined Event</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">0</h5>
              <p class="card-text">Completed Event</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
</div>


</div>



{% endblock %}