{% extends 'accounts/main.html' %}

{% block content %}


<div class="">
<h1>home {{au_user}}</h1>


<h1>Upcoming Events</h1>

<div>


<div class="home_table">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Date And Time</th>
        <th scope="col">Location</th>
        <th scope="col">Max Participants</th>
        <th scope="col">Description</th>
        <th scope="col">Banner</th>
        
      </tr>
    </thead>
    <tbody>
        {% for i in events %}
      <tr>
        <th scope="col">{{i.id}}</th>
        <th scope="col">{{i.title}}</th>
        <th scope="col">{{i.date}}</th>
        <th scope="col">{{i.location}}</th>
        <th scope="col">{{i.max}}</th>
        <th scope="col">{{i.description}}</th>
        {% if i.banner %}
              <th scope="col"><img src="{{ i.banner.url }}" width="200" height="100"></th>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div>
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{joinedEventCount}}</h5>
              <p class="card-text">Joined Event</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ CreatedEventCount }}</h5>
              <p class="card-text">Created Events</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
</div>


</div>



{% endblock %}


<!--

<div>
  <div class="row row-cols-1 row-cols-md-5 g-4">
  {% for i in events %}
  
  <div class="col">
  <div class="card">
    {% if i.banner %}
    <img src="{{ i.banner.url }}" class="card-img-top" alt="Banner" width="286" height="180">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{i.title}}</h5>
      <p class="card-text">{{i.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Date: {{i.date}}</li>
      <li class="list-group-item">Location: {{i.location}}</li>
      <li class="list-group-item">Max number of Participants: {{i.max}}</li>
    </ul>
  </div>
  </div>
  {% endfor %}

</div>

</div>


-->