{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}

<h1>Welcome {{ user }}</h1>
<div>
    <h1>Upcoming Events</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Date And Time</th>
        <th scope="col">Location</th>
        <th scope="col">Max Participants</th>
        <th scope="col">Description</th>
        <th scope="col">Banner</th>
    </tr>
    </thead>
    <tbody>
      {% for i in events %}
      <tr>
        <th scope="col">{{i.id}}</th>
        <th scope="col">{{i.title}}</th>
        <th scope="col">{{i.date}}</th>
        <th scope="col">{{i.location}}</th>
        <th scope="col">{{i.max}}</th>
        <th scope="col">{{i.description}}</th>
        <th scope="col"><img src="{{i.banner}}" width="200" height="100"></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<form action="" method="POST">
  {% csrf_token %}
  {{ form }}
  <input type="submit" name="Submit">


</form>

<div>
  <h1>Joined Events</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Date And Time</th>
      <th scope="col">Location</th>
      <th scope="col">Max Participants</th>
      <th scope="col">Description</th>
      <th scope="col">Banner</th>
      <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
    
    
     {% for j in usersJoinedEvent %}
        {% for i in events %}
          {% if j.Event_id == i.id %}
          <tr>
            <th scope="col">{{i.id}}</th>
            <th scope="col">{{i.title}}</th>
            <th scope="col">{{i.date}}</th>
            <th scope="col">{{i.location}}</th>
            <th scope="col">{{i.max}}</th>
            <th scope="col">{{i.description}}</th>
            <th scope="col"><img src="{{i.banner}}" width="200" height="100"></th>
            <td>
              <a class="btn btn-outline-danger" href="{% url 'deletejoin' j.id %}">Delete</a>
          </td>
          </tr>
          {% endif %}
        {% endfor %}
          
      {% endfor %}
  
   
  </tbody>
</table>
</div>

{% endblock %}